<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head> 
<body>
    <h1>📝 To-Do List</h1>
  
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}
                {% if task.due_date %}
                    <span class="due-date" style="color: rgb(18, 94, 180); font-size: 0.9em;">
                        (Due: {{ task.due_date|date:"M d, H:i" }})
                    </span>
                {% endif %}
                
                {{ note.text }}
                
                <a href="{% url 'edit' task.id %}">Edit</a> |
                <a href="{% url 'delete' task.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
